<h1>
  collin's favorite shows
</h1>

<div style="justify-content: center; display: flex;">
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/bYb3bfA6_sQ" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/1fAs9WPb2sY" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>


  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/1kHF-cPIfwA" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/fOMcQ9Xqjl8" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>